<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.2.7922.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="D3369C83507581CB6A3028107C68B342DB9ECBD43537420906D05147137DDE1743B33CC807702575DD0F4EB538483B11103A7684A89D7BA15069B821B7523916" decryptionKey="EBCFC565BCF09DBBC297E996B4EDBB64F092C30E2955BA0EBCDA0BC17B321BE0" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="D0196B175C25A9D1F1BD8EB68909AED034262DC7EBDB26EEAC01B85EEB1C01A5" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="D0196B175C25A9D1F1BD8EB68909AED034262DC7EBDB26EEAC01B85EEB1C01A5" realm="http://localhost" />
	</relyingParties>
</securityConfig>